@import "tailwindcss";

body {
  background-color: black;
  padding: 15px;
}

p {
  color: white;
  font-size: 0.8rem;
}

h2,h3,h4 {
  color: var(--color-amber-300);
  font-weight: 600;
}

.grey-btn {
  background-color: var(--color-gray-800);
  color: var(--color-gray-500);
  padding: 4px 10px;
  font-size: 0.8rem;
  text-align: left;
  min-width: 140px;
  height: 30px;
  border-radius: 5px;
}

.grey-btn.selected {
  background-color: var(--color-green-700);
  color: var(--color-white);
  text-align: center;
}

.card {
  border: 1px solid var(--color-green-700);
  width: 200px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

}

.card img{
  width: 190px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}


.card button {
  color: white;
  margin-bottom: 10px;
  padding: 4px 10px;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--color-green-700);
}
.btn-secondary {
  background-color: var(--color-gray-700);
}
.btn-tertiary {
  background-color: var(--color-blue-600);
}

.btn-long {
  text-align: center;
  border-radius: 5px;
  height: 35px;
  padding: 4px 0;
  display: block;
  width: 100%;
  color: white;
}

.record-container {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.record {
  background-color: var(--color-gray-800);
  padding: 10px 10px;
  border-left: 3px solid var(--color-green-700);
  border-radius: 5px;
}


table {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  border-collapse: collapse;
  border: none;

}

td {
  padding: 10px 50px;
  border: 1px solid var(--color-gray-700);
}
